
.schedule-container {
     min-width: 800px;
}

.input-container {
     min-width: 800px;
}

 body {
        background: url('../img/mta.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }

 table {
     border-collapse: separate;
     border-spacing: 6px;
}

.jumbotron {
     color: white;
     background-color: rgb(94, 0, 170);
     min-width: 800px;
}